<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<h1>Hi {{ username }}</h1>

To recover your password, enter this token to the recovering password form :
<br><br>

<a href="{{ url('change_password', {'token' : usertoken }) }}">ici</a>

<br><br>

Thanks!

</body>
</html>
