<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<h1>Hi {{ username }}</h1>

To recover your password, enter this token to the recoving password form :
<br><br>

{{ userlink }}

<br><br>

Thanks!

</body>
</html>
